.itemDate {
    position: relative;
    margin: 10px;
    padding-top: 100%;
    width: 50%;
    background-color: #43a047;
    border-radius: 4px;
  }
  .itemDate:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  .itemDate .inner {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 5px;
  }

  .quarter{
    width:50%;
    height:100%;
    float:left;
  }