<!--Main Navigation-->

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green">

    <!-- Navbar brand -->
    <logo>
        <a class="navbar-brand" href="#">Weide Journal</a>
    </logo>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li *ngFor="let categorie of navigationCategories" class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>{{ categorie }}</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    Basic dropdown
                    <span class="caret"></span>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
                </div>
            </li>


        </ul>
        <!-- Links -->

        <!-- Search form -->
        <form class="form-inline waves-light" mdbWavesEffect>
            <div class="md-form mt-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </div>
        </form>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->


<main>
    <div class="container-fluid">
        <div class="row mt-3">
            <div col="col">
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Jahr
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">2018</a>
                        <a class="dropdown-item" href="#">2019</a>
                    </div>
                </div>
            </div>
            <div col="col">
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Monat
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Januar</a>
                        <a class="dropdown-item" href="#">Februar</a>
                        <a class="dropdown-item" href="#">März</a>
                        <a class="dropdown-item" href="#">April</a>
                        <a class="dropdown-item" href="#">Mai</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col mt-3" *ngFor="let dayOfMonthCard of testCalendar; let i = index">
                <div class="card" *ngIf="i != 6; else todayCard">
                    <div class="card-header">
                        {{ dayOfMonthCard }}.
                    </div>
                    <div class="card-body text-center">
                        <div class="btn-group btn-group-toggle btn-bock" data-toggle="buttons">
                            <label class="btn btn-success active px-3">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked> Stall
                            </label>
                            <label class="btn btn-success px-3">
                                <input type="radio" name="options" id="option2" autocomplete="off"> Weide
                            </label>
                            <label class="btn btn-success px-3">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Auslauf
                            </label>
                        </div>
                    </div>
                </div>
                <ng-template #todayCard>
                    <div class="card bg-light">
                        <div class="card-header">
                            {{ dayOfMonthCard }}.
                        </div>
                        <div class="card-body text-center">
                            <div class="btn-group btn-group-toggle btn-bock" data-toggle="buttons">
                                <label class="btn btn-success px-3 active">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Stall
                                </label>
                                <label class="btn btn-success px-3">
                                    <input type="radio" name="options" id="option2" autocomplete="off"> Weide
                                </label>
                                <label class="btn btn-success px-3">
                                    <input type="radio" name="options" id="option3" autocomplete="off"> Auslauf
                                </label>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</main>